.dashboard-summary {
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    flex-wrap: wrap;
}
.org-heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #2c3e50;
}

/* Ensure cards are wrapped on a new line */
.summary-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* distribute items */
  gap: 20px;
  width: 100%;
}


.card {
  flex: 1 1 calc(25% - 20px); /* 4 cards per row with gap */
  min-width: 200px; /* prevent shrinking too much on small screens */
  box-sizing: border-box;
  border-left: 5px solid #4e73df;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
}

.card-body {
  display: flex;
  align-items: center;
  padding: 1.2rem;
}

.card-icon1 {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 24px;
  margin-right: 1rem;
}

.card-text h4 {
  font-size: 1.1rem;
  color: #333;
  margin: 0;
}

.card-text p {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  color: #000;
}
.icon-circle {
  background-color: rgba(0,0,0,0.05);
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
