.admin-dashboard {
    padding: 20px 50px;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f7fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

.dashboard-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.dashboard-header {
    background: #ffffff;
    padding: 0px;
    border-radius: 15px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.06);
    text-align: left;
}
